<!DOCTYPE html>
<html ng-app="survivalGuide" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>js-survival-guide</title> 
    <link href="bootstrap.css" rel="stylesheet">
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">

        <div ng-controller="CategoryCtrl" class="col-md-6">

          <h1>AngularJS</h1>

          <piechart radius="100" class="row center-block">
            <piechart-slice ng-repeat="category in categories" value="category.articles.length" stroke="white"/>
          </piechart>

          <div ng-controller="ArticleCtrl">

            <div ng-repeat="article in articles" class="row">
              <h3 class="col-md-12">{{article.title}}</h3>

              <span ng-repeat="category in categories" class="col-md-3">
                <button ng-click="assignCategory(category, article)" class="btn btn-primary">
                  {{category.name}}
                </button>
              </span>
            </div>

            <hr/>

            <form ng-submit="addArticle()">
              <input type="text" ng-model="title" />
              <input type="submit" class="btn btn-default"></button>
              <!--button ng-click="addArticle(title)" class="btn btn-default">Add Article</button-->
            </form>

          </div>

          <hr/>

          <span ng-repeat="category in categories">{{category.name}} [{{category.articles.length}}]</span>

        </div>

        <div id="blogContainer" class="col-md-6"></div>

      </div>
    </div>

    <script src="bundle.js"></script>
  </body>
</html>