<!DOCTYPE html>
<html ng-app="survivalGuide">
  <head>
    <title>js-survival-guide</title>
  </head>
  <body>

    <div ng-controller="CategoryCtrl">

      <div ng-controller="ArticleCtrl">

        <div ng-repeat="article in articles">
          <p>{{article.title}}</p>

          <button ng-repeat="category in categories" ng-click="assignCategory(category, article)">
            {{category.name}}
          </button>
        </div>

        <hr/>

        <input type="text" ng-model="title" />
        <button ng-click="addArticle(title)">Add Article</button>

      </div>

      <hr/>

      <span ng-repeat="category in categories">
        {{category.name}} [{{category.articles.length}}]
      </span>

      <piechart radius="100">
       <piechart-slice ng-repeat="category in categories" value="category.articles.length" stroke="white"/>
      </piechart>

    </div>

    <div id="blogContainer"></div>

    <script src="bundle.js"></script>
  </body>
</html>